*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  gap: 30px;
  padding-left: 30px;
}

.result {
  padding-top: 211px;
  display: flex;
  flex-direction: column;
  padding-bottom: 203px;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}
.title {
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
}

.content__accent {
  opacity: 0.3;
}
.content__card-link {
  text-decoration: none;
  color: #fff;
}
.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}
.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}
.search-form {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}
.content__list-item {
  padding-top: 30px;
  gap: 30px;
}

.content__list {
  gap: 30px;
}

.content__list-container {
  width: 399px;
  height: 298px;
  overflow-y: auto;
  overflow-x: hidden;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.content__video-card:active {
  background: rgba(84, 80, 80, 1);
}
.content__video-card:hover {
  text-decoration: underline;
}
.content__video-card:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}
.content__video-card-description {
  line-height: 16.2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  size: 18px;
}

.content__video-card-title {
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result__video-container video {
  margin-bottom: 16px;
  object-fit: cover;

  width: 711px;
  height: 386px;
}
.content__video-card-description-container {
  flex-grow: 0;
}

.more-button {
  margin-top: 30px;
  width: 100%;
}

input {
  border: none; /* Полностью убираем все границы */
  border-top: 1px solid rgba(255, 255, 255, 1); /* Верхняя граница */
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  width: 225px;
  height: 27px;
  gap: 10px;
  color: #fff;
  appearance: none;
  outline: none;
  cursor: pointer;
}

input:focus {
  border-color: rgba(255, 255, 255, 0.7);
}
.search-form__label:has(:focus-visible) {
  outline: 2px solid rgba(255, 255, 255, 0.8);
}
.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background-color: #1b1919;
}
.search-form__textfield {
  border: none !important;
  border-top: 1px solid rgba(255, 255, 255, 1) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 1) !important;
  width: 225px !important;
  height: 27px !important;

  color: #fff !important;
  background-color: transparent !important;
  appearance: none !important;
  outline: none !important;
  box-sizing: border-box !important;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  padding: 1px;
  border: 1px solid rgba(255, 255, 255, 1);
  cursor: pointer;
}
.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-style: bold;
  size: 18px;
  background-color: transparent;
  cursor: pointer;
}
.search-form__submit-button {
  width: 194px;
  height: 34px;

  /* видео */
}
.search-form__submit-button:active {
  background: rgba(84, 80, 80, 1);
}
.search-form__submit-button:hover {
  text-decoration: underline;
}
.search-form__submit-button:focus {
  outline: none;
}
.search-form__submit-button:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
}
.more-button {
  width: 399px;
  height: 34px;
  /* карточки */
}
.more-button:active {
  background: rgba(84, 80, 80, 1);
}
.more-button:hover {
  text-decoration: underline;
}
.more-button:focus {
  outline: none;
}
.more-button:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
